* {
    margin:0;
    padding: 0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align: baseline;
}

header {
    background:#bbb;
    padding: 20px 0;
}

nav {
    position:absolute;
    top:30px;
    right: 0;
}

.caixa{
    position:relative;
    width: 90%;
    margin: 0 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

nav li {
    display:inline;
    margin:0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color:#000;
    font-weight: bold;
    font-size:18px;
    text-decoration: none;
}

nav a:hover {
    color:#c78C19;
    text-decoration: underline;
}

/*Configuração do banner */

.banner {
    width: 100%;
}

/* Configuração do */

.titulo-principal {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 1em;
    clear: left;
}

.titulo-principal p {
    text-align: justify;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 140px;
    float: left;
    margin: 0 20px 20px 0;
}

.beneficios li {
    width: 60%;
}

.imagembeneficios {
    width: 60%;
}

.itens {
    padding: 5px;
    
}




